name: Override Build Image for Master & Stable branches

on:
  push:
    branches:
      - dss-build

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-west-1
      - name: Run CodeBuild
        uses: aws-actions/aws-codebuild-run-build@v1
        with:
          project-name: aws-code-build-image-override
          # compute-type-override: BUILD_GENERAL1_MEDIUM
          buildspec-override: ./buildspec/buildspec-project1.yml
          image-override: "${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.REGION_NAME }}.amazonaws.com/${{ secrets.REPOSITORY_NAME }}:${{ github.ref_name }}"

      - name: Create S3 Urls for generated artifacts
        if: success()
        run:  |
          aws codebuild batch-get-builds --ids $(aws codebuild list-builds-for-project --project-name 'aws-code-build-image-override' --sort-order DESCENDING --query 'ids[0]' --output text) --query 'builds[*].[buildNumber]' --output text 
          #Get the build number associated with the build-project 
          latest_build_number=$(aws codebuild batch-get-builds --ids $(aws codebuild list-builds-for-project --project-name 'aws-code-build-image-override' --sort-order DESCENDING --query 'ids[0]' --output text) --query 'builds[*].[buildNumber]' --output text)
          #Fetch objects and create presign urls
          for key in $(aws s3api list-objects --bucket dss-artifacts --prefix builds/aws-code-build-image-override/$latest_build_number/ --query 'Contents[].{Key: Key}' --output text); do
              echo "https://dss-artifacts.s3.us-west-1.amazonaws.com/$key"
          done


